# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite databases
*.db
*.sqlite3

# Playwright & Browser artifacts
screenshots/
*.png
.auth/

# Docker
.dockerignore

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

login_result.json