{
    # Email for Let's Encrypt
    # email your@email.com
}

144.31.188.34.sslip.io {
    # Reverse proxy for LLM API
    handle /llm/* {
        uri strip_prefix /llm
        reverse_proxy llm_api:8000
    }

    # Reverse proxy for Auth HH
    handle /auth/* {
        uri strip_prefix /auth
        reverse_proxy auth_hh:8001
    }

    # Reverse proxy for WebRTC Signaling
    handle /sync/* {
        reverse_proxy signaling:8002
    }

    # Default response
    handle {
        respond "Scan Job API Gateway" 200
    }
}
